.App {
  background-color: #414180;
  min-height: 100vh;
  padding-top: 50px;
}
.input-task {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #9191ff;
  border-radius: 0px;
}
.input-task::placeholder {
  color: #fff;
}
.heading {
  color: #fff;
  padding-bottom: 20px;
}
.main {
  background-color: #9191ff;
  padding: 30px;
  border-radius: 20px;
}
.input-task:active,
.input-task:focus {
  outline: none;
  color: #fff;
  border-bottom: 1px solid black;
  background-color: #9191ff;
}
.to-do-button {
  padding: 10px 5px;
}
.list-group {
  background-color: #9191ff;
}
.list-group-item {
  color: #fff;
  margin: 10px;
  background-color: #9191ff;
  box-shadow: 6px 7px 15px #51516f;
  border: none;
}
.card {
  border-radius: 8px;
  background: #9191ff;
  box-shadow: 20px 20px 60px #9191ff, -20px -20px 60px #a7a7ff;
}
.card h3 {
  color: #fff;
  font-size: 15px;
}
.card h5 {
  color: #fff;
  font-size: 10px;
}
